body {
  background-color: #ff9;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 20px;
  background-color: #2563eb;
  color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}
